<h2>Edit Profile</h2>

<form action="/users/<%=@user.id%>" method="post">
  <input type='hidden' name='_method' value='patch'>
  <h4><label for="current_password">Please confirm your password:</label>
  <input type="password" name="current_password" placeholder="current password"></h4>
  <br>
  
  
  <h4>Change profile details:</h4>
  <p><input type='text' name=[user][username] value="<%=@user.username%>">
  <input type='text' name=[user][name] placeholder="Enter Name" value="<%=@user.name%>">
  <input type='text' name=[user][email] placeholder="Enter Email" value="<%=@user.email%>">
  <input type='text' name=[user][city] placeholder="Enter Hometown" value="<%=@user.city%>"></p>
  <input type="submit" value="Submit">
</form>