<h2>My Places</h2>

<h3>Quick Actions:</h3>
<form class="button" action="/places/new">
  <input type="submit" value="New Place">
</form>

<form class="button" action="/places/filter">
  <input type="submit" value="Filter List">
</form>
<br>
<br>
<h3>Visited Status:</h3>
<div class="statusbar">
  <div class="statusfill" style="height:24px; <%if @status<34%>background-color: #cb1010 <%elsif @status<67%>background-color: #ecd318 <%else%> background-color:green<%end%>; width: <%=@status%>%"></div>
</div>

<h3>My Places:</h3>
<ul class="indexList">
  <% user_places.each do |place| %>
    <a id="placelink" href="/places/<%=place.id%>"><div class="notepad reduce"><p><t><%= place.name %></t>  -  <i>"<%= place.tagline %>"</i>
      <%= place.category.name %><br></p>
      Visited: <%=place.visited == 1 ? ("Yes"):("No")%><br>
      Recommendations:
      <ul>
        <% place.recommendations.each do |rec| %>
          <li><%=rec.name%></li>
        <% end %>
      </ul>
    </div></a>
    <br>
  <% end %>
</ul>