<h2>My Places</h2>

<h3>Visited Status:</h3>
<div class="statusbar">
  <div class="statusfill" style="height:24px; background-color: green; width: <%=(user_places.select{|pl| pl.visited==1}.length.to_f/user_places.length.to_f).ceil(3)*100%>%"></div>
</div>

<form action="/places/new">
  <input type="submit" value="New Place">
</form>

<form action="/places/filter">
  <input type="submit" value="Filter List">
</form>

<ul class="indexList">
  <% user_places.each do |place| %>
    <li id="placeLink"><a href="/places/<%=place.id%>"><%= place.name %></a>  -  <i>"<%= place.tagline %>"</i><br>
      <%= place.category.name %><br>
      Visited: <%=place.visited == 1 ? ("Yes"):("No")%><br>
      Recommendations:
      <ul>
        <% place.recommendations.each do |rec| %>
          <li><%=rec.name%></li>
        <% end %>
      </ul>
    </li>
    <br>
  <% end %>
</ul>