<h3><u>My Places</u></h3>

<form action="/places/new">
  <input type="submit" value="New Place">
</form>

<ul>
  <% @places.each do |place| %>
    <li id="placeLink"><a href="/places/<%=place.id%>"><%= place.name %></a>
      <br>
      <%= place.tagline %><br>
      <%= place.category.name %><br>
      Visited: <%=place.visited == 1 ? ("Yes"):("No")%><br>
      Recommendations:
      <ul>
        <% place.recommendations.each do |rec| %>
          <li><%=rec.name%></li>
        <% end %>
      </ul>
    </li>
    <br>
  <% end %>
</ul>