<div class="notepad">  
  <t id="mockheader"><%=@place.name%></t> <t id="inline_note">&#8211; <%=Category.find(@place.category_id).name%></t>
  <h5 id="addressline"><%="#{@place.street_address}, #{@place.city}, #{@place.state_abbr}"%></h5>
  
  <div class="tagline">
    <span class="tagtext"><%="\"#{@place.tagline}\""%></span>
  </div>
  
  <span>
    <%= @place.visited==1 ? ("I've been here before!"):("I still need to check this place out") %>
    
    <p>
      <%= @place.visited==1 ? ("I"):("I'd")%> like to go here because:<br>
      <%= @place.list_recommendations%>
      
      <!--<% if @place.recommendations.length > 1 %>
      <!--  <% @place.recommendations.each do |rec| %>-->
      <!--    <% if rec!=@place.recommendations.last %>-->
      <!--      <%="#{rec.name}, "%>-->
      <!--    <% else %>-->
      <!--      <%="and #{rec.name}"%>-->
      <!--    <% end %>-->
      <!--  <% end %>-->
      <!--<% elsif @place.recommendations.length == 1 %>-->
      <!--  <%= @place.recommendations.first.name %>-->
      <!--<% else %>-->
      <!--  a totally new place to see-->
      <!--<% end %>-->
    </p>
  </span>
  
  <% if !@place.notes.empty? %>
    <p>Also:<br>
    <%=@place.notes%>
  <% end %></p>
  <br>
</div>
<br>

<form class="button center" action="/places/<%=@place.id%>/edit">
  <input type="submit" value="Edit <%=@place.name%>">
</form>

<form class="button center" action="/places/<%=@place.id%>/delete" method="post">
  <input type="hidden" id="hidden" name="_method" value="delete">
  <input type="submit" value="Delete <%=@place.name%>">
</form>

<form action="/places">
  <input type="submit" value="Back to All Places">
</form>