<h2>My Places (filtered)</h2>

<ul class="indexList">
  <% @results.each do |place| %>
    <a id="placelink" href="/places/<%=place.id%>"><div class="notepad reduce"><p><t><%= place.name %></t>  -  <i>"<%= place.tagline %>"</i><br>
      <%= place.category.name %></p>
      Visited: <%=place.visited == 1 ? ("Yes"):("No")%><br>
      Recommendations:
      <ul>
        <% place.recommendations.each do |rec| %>
          <li><%=rec.name%></li>
        <% end %>
      </ul>
    </div></a>
    <br>
  <% end %>
</ul>

<form action="/places">
  <input type="submit" value="Back to All Places">
</form>